/.quarto/
DS_Store
.Rhistory
/.luarc.json
/.quarto/
/*_files
/*_cache
/_freeze
_extensions/
.Rprofile
.Rproj.user
.RData
.Rhistory
.Ruserdata
_extensions
renv/
*.swp
published-202312-cleynen-local.html
published-202312-cleynen-local.pdf
published-202312-cleynen-local_files/
