.Rproj.user
.Rprofile
.Rhistory
.RData
.Ruserdata
*.swp
published-202312-cleynen-local.html
published-202312-cleynen-local.pdf
published-202312-cleynen-local_files/
/.quarto/
_extensions/
.Rproj.user
renv/